replicaCount: 3

image:
  repository: douglasdb/my-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "100m"

env:
  javaOpts: "-XX:MaxRAMPercentage=70.0"